/*.heading{
    color: rgb(188, 173, 12);
   
}

body{
    background-color: darkmagenta;
}

button{
    background-color: rgb(18, 243, 243);
    color: rgb(32, 0, 128);
}*/

/*.box {
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: aquamarine;
    margin: 5px;
    border: 1px solid black;

}*/
/*#box{
    background-color: black;
    align-items: center;
    height: 250px;
    width: 100px;
    color: white;
    border: 1px solid black;

}*/
/*.content{
     background-color: blueviolet;
}

.newclass{
    background-color: yellow;
}*/

/*div{
    background-color: aqua;
    color: rgb(40, 17, 138);
    text-align: center;
    border: 2px solid black;
    height: 100px;
    width: 100px;
}*/